<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Suivez nous sur <a href="https://www.facebook.com/Ladag2.31" target='_blank'>facebook</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/js/lightgallery.min.js" integrity="sha256-bBiMTeqapX/71bYsTCkP8b+epfSXLhVOdAgxzvkkeKg=" crossorigin="anonymous"></script>