<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Suivez nous sur <a href="https://www.facebook.com/Ladag2.31" target='_blank'>facebook</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/js/lightgallery-all.min.js" integrity="sha256-n9ZE2vNe6Iv4S6dUXnzuvvt2yLWOZPJqD787TC7S4W4=" crossorigin="anonymous"></script>

<script type="text/javascript">
	$('#lightgallery').lightGallery({
        selector: 'this'
	});
</script>