<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script src="{{ "/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<script type='text/javascript' src="{{ "/js/unitegallery/dist/js/unitegallery.min.js"| prepend: site.baseurl }}"></script> 
<script type='text/javascript' src="{{ "/js/unitegallery/dist/themes/default/ug-theme-default.js"| prepend: site.baseurl }}" ></script> 

<script type="text/javascript"> 
	jQuery(document).ready(function(){ 
		jQuery("#gallery").unitegallery({
		 	tiles_type: "nested"	
		});
		console.log("test nested");
	}); 	
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="{{ "/js/nanogallery2-1.5.0/dist/jquery.nanogallery2.min.js"| prepend: site.baseurl }}"></script>

<!-- fancybox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js" integrity="sha256-GEAnjcTqVP+vBp3SSc8bEDQqvWAZMiHyUSIorrWwH50=" crossorigin="anonymous"></script>
<script type="text/javascript">$(".fancybox").attr('rel', 'gallery').fancybox();</script>
