<script>
  var baseurl = '{{ site.baseurl }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script src="{{ "/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/js/lightgallery-all.min.js" integrity="sha256-n9ZE2vNe6Iv4S6dUXnzuvvt2yLWOZPJqD787TC7S4W4=" crossorigin="anonymous"></script>

<script type="text/javascript">
	$('#lightgallery').lightGallery({
        selector: 'this'
	});
</script>